<div class="container">
  <header class="text-center py-4" style="background-color: #7c7e80; width: 100%;">
    <h1 class="display-5 text-white">Bienvenido a mi App Angular</h1>
  </header>
  <hr>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card bg-light">
        <div class="card-body">
          <app-saludo></app-saludo>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-light">
        <div class="card-body">
          <app-contador></app-contador>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <app-imagenes></app-imagenes>
</div>
